{% if jenkins_params.ssl == True %}
server {
    listen 80;
    server_name {{jenkins_params.server_name}};
    return 301 https://$host$request_uri;
}
{% endif %}

server {

  server_name     {{jenkins_params.server_name}};

  {% if jenkins_params.ssl == True %}
  listen 443 ssl;

  # SSL
  ssl_certificate {{jenkins_params.ssl_certs_home}}/{{jenkins_params.server_name}}/{{jenkins_params.ssl_certificate_file}};
  ssl_certificate_key {{jenkins_params.ssl_certs_home}}/{{jenkins_params.server_name}}/{{jenkins_params.ssl_certificate_key_file}};
  
  # Recommandations from https://raymii.org/s/tutorials/Strong_SSL_Security_On_nginx.html
  ssl_protocols TLSv1.1 TLSv1.2;
  ssl_ciphers 'EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH';
  ssl_prefer_server_ciphers on;
  ssl_session_cache shared:SSL:10m;
  {% else %}
  listen          80;       # Listen on port 80 for IPv4 requests
  {% endif %}
  

  # disable any limits to avoid HTTP 413 for large image uploads
  client_max_body_size 0;
    

  #this is the jenkins web root directory (mentioned in the /etc/default/jenkins file)
  root            {{jenkins_params.war_root}};

  location ~ "^/static/[0-9a-fA-F]{8}\/(.*)$" {

    #rewrite all static files into requests to the root
    #E.g /static/12345678/css/something.css will become /css/something.css
    rewrite "^/static/[0-9a-fA-F]{8}\/(.*)" /$1 last;
  }

  location /userContent {
        #have nginx handle all the static requests to the userContent folder files
        #note : This is the $JENKINS_HOME dir
	root {{jenkins_params.root}};
        if (!-f $request_filename){
           #this file does not exist, might be a directory or a /**view** url
           rewrite (.*) /$1 last;
	   break;
        }
	sendfile on;
  }

  location @jenkins {
      sendfile off;
      proxy_pass         http://127.0.0.1:8080;
      {% if jenkins_params.ssl == True %}
      proxy_redirect      http://127.0.0.1:8080 https://{{jenkins_server_name}};
      {% else %}
      proxy_redirect     default;
      {% endif %}

      proxy_set_header   Host             $host;
      proxy_set_header   X-Real-IP        $remote_addr;
      proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;
      proxy_max_temp_file_size 0;

      #this is the maximum upload size
      client_max_body_size       10m;
      client_body_buffer_size    128k;

      proxy_connect_timeout      90;
      proxy_send_timeout         90;
      proxy_read_timeout         90;

      proxy_buffer_size          4k;
      proxy_buffers              4 32k;
      proxy_busy_buffers_size    64k;
      proxy_temp_file_write_size 64k;
}

  location / {

     # Optional configuration to detect and redirect iPhones
      if ($http_user_agent ~* '(iPhone|iPod)') {
          rewrite ^/$ /view/iphone/ redirect;
      }

      try_files $uri @jenkins;
   }
}